body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.main {
  position: relative;
  margin: 10px;
}

.wrapper {
  padding: 3rem;
  height: calc(100vh - 20px);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}