
@import '@/assets/css/variables/all.scss';

body {
  // background: $greenish;
  background: #fff;
  // font-family: 'Inter', sans-serif;
  font-family: 'Bitter', serif;
  min-height: 100dvh;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 1rem;

  @media #{$breakpoint-xl-up} {
    font-size: 24px;
  }

  &.italic {
    font-style: italic;
  }
}

.large {
  font-size: 27px;
  line-height: 140%;

  @media #{$breakpoint-xl-up} {
    font-size: 36px;
  }
}

.small {
  font-size: 12px;
  line-height: 120%;
  margin-bottom: 0;
  font-weight: 100;

  @media #{$breakpoint-xl-up} {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  color: $blakish;
  font-size: 55px;
  font-style: italic;
  margin-bottom: 1rem;
  line-height: 120%;

  @media #{$breakpoint-md-up} {
    font-size: 70px;
  }

  @media #{$breakpoint-xl-up} {
    font-size: 88px;
  }
}

a {
  font-size: 25px;
  color: $blakish;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  background: $main;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all .5s ease;

  &:hover {
    background: darken($main, 5%);
  }
}
.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}